@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/*-------- Header --------*/

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

/*------------------------- BODY -------------------------*/

/*-------- page 1 --------*/

header {
  background-color: #ffffff;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.entrabtn {
  width: 180px;
  height: 44px;

  background: #ffffff;
  border: 1px solid #ffa500;
  box-sizing: border-box;
  border-radius: 22px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  color: #003f63;
}

.fundo {
  background: linear-gradient(
    0deg,
    rgba(242, 242, 242, 0.51) 0%,
    rgba(242, 242, 242, 0) 105.22%
  );
}

h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;

  padding-top: 30px;

  color: #003f63;
}

.lead {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 39px;

  color: #003f63;
}

.container .imageinicio {
  position: absolute;
  right: 110px;
  z-index: 1;
}

.display-4 {
  font-size: 2.5rem;
}

/*-------- page 2 --------*/

/*--------------------- RESPONSIVE -------------------*/

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
